* {
    padding: 0;
    margin: 0
}

html,
body {
    height: 100%;
     background: #0b1a2d url(../images/612c3a38.bg.jpg); background-size:100% 100%;
}

.wrapper,.graph-area{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto;
}

.wrapper .fn-toolbar {
    position: absolute;
    left: 27px;
    top: 100px;
    z-index: 19871005;
}

.wrapper .graph-area {
    overflow: hidden;
}

.wrapper .graph-area .node .node-bg {
    display: none;
}

.wrapper .graph-area .node.active .node-bg {
    display: block;
}
.wrapper .graph-area .drag-line{
  stroke-width:1px;
  stroke:#5bc0de;
  cursor: crosshair;  

}
.wrapper .graph-area .drag-line-hidden{
  stroke-width:0; 
  cursor: crosshair;  
}

.wrapper .graph-area .link{

}

.wrapper .graph-area .link:hover{
    stroke:#86b7f9;
    stroke-width:10px;
}

.wrapper .graph-area .link.active{
    stroke:#1c7dfa; 
    stroke-width:5px;
}

.graph-contextmenu {
    font-family: "microsoft yahei", "simsun";
    font-size: 12px;
    width: 170px;
    height: auto;
    z-index: 2;
    position: absolute;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.graph-contextmenu .title {
    color: #fff;
    padding: 5px;
    font-size: 14px;
    background-color: #337ab7;
    border-radius: 5px 5px 0 0;
}

.graph-contextmenu .context-menu-item {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #337ab7;
}

.graph-contextmenu .context-menu-item td {
    padding: 3px 5px;
    color: #666;
    vertical-align: middle;
}

.graph-contextmenu .context-menu-item tr:nth-of-type(odd) {
    background: #f9f9f9;
}

.tooltip .context-menu-item td.td-label {
    color: #333;
    width: 42px;
}

.graph-contextmenu .context-menu-item td a {
    color: #666
}

.graph-contextmenu .menu-item-btn {
    cursor: pointer;
}

.graph-contextmenu .menu-item-btn:hover {
    color: #337ab7
}
